aside{
    top: 80px;
    height: calc(100vh - 80px);
    width: 15vw;
    background-image: linear-gradient(to bottom, white, white, rgb(26, 26, 26));
    position: fixed;
    z-index: 0;

    transform: translateX(-12vw);
    transition: all;
    transition-duration: .5s;
}
aside:hover{
    transform: translateX(0vw);
}

#tutorials-tab, #assets-tab, #documentation-tab, #other-tab{
    height: 45px;
    border: 2px solid white;
    color: white;
    background-color: black;
    box-shadow: 0px 0px 3px black;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    border-radius: 15px;
    text-shadow: 0px 0px 5px white;

    transition: all;
    transition-duration: .5s;
}

#tutorials-tab:hover, #assets-tab:hover, #documentation-tab:hover, #other-tab:hover{
    border-radius: 0px;
    background-color: rgb(35, 35, 35);
}