body{
    background-image: linear-gradient(to right, black,white, black);
}
article{
    margin: 0;
    margin-top: 80px;

    width: 97vw;
    height: calc(100vh - 80px);
}
div#asset-list-bg{
    background-color: rgb(255, 255, 255);
    margin: 0;
    margin-left: 15vw;
    width: 67vw;
    box-shadow: 0px 0px 20px rgb(43, 44, 49);
    height: 1700px;
}
h1#asset-list{
    font-family: 'Dela Gothic One', cursive;
    font-size: 3em;
    color: white;
    text-align: center;
    text-decoration: underline;
    margin: 0;
    background-color: rgb(29, 29, 29);
    box-shadow: 0px 0px 10px rgb(29, 29, 29);
    height: 100px;
    padding-top: 10px;
}

#assets-holder{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 63vw;
    margin-left: 2vw;
}
.asset-containers{
    border: 3px solid black;
    box-shadow: 3px 3px 3px black;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 3vh;
    font-family: 'Anton', sans-serif;
    padding-left: 0.5vw;
    color: rgb(30, 28, 28);

    transition: all;
    transition-duration: 0.5s;

    display: grid;
    grid-template-columns: 70px 1vw 1fr 7vw;
}
.asset-containers:hover{
    border: 3px solid rgb(255, 132, 132);
    border-radius: 5px;
    background-color: rgb(255, 228, 228);
    transform: translateX(-1vw);
}
article #assets-holder img{
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px;
    grid-row-start: 1;
    grid-column-start: 1;

}
.asset-containers .asset-name{
    grid-column-start: 3;
    grid-row-start: 1;
}
.asset-containers .asset-price{
    grid-column-start: 4;
    grid-row-start: 1;
    text-align: center;
}
.asset-containers a {
    z-index: 2;
    grid-column-start: 1;
    grid-row-start: 1;
    width: 63vw;
}